# Docker
docker-compose*override.yml

# Dotenv (.env)
.env
.makerc

# Python
.venv
requirements*.txt

# Cache
__pycache__
.mypy_cache/
.pytest_cache/
.ruff_cache

# pyTest
*coverage*

# Visual Studio Code
.devcontainer/
.vscode/
workspace.code-workspace

#PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Build
dist
